.vcard
  .n
    = "#{vcard['name']}"
  .role.title
    MP
  .adr
    .region.locality
      = "#{vcard['constituency']}"
  .org
    .organisation-name
      = "#{vcard['party']}"
  
    %p
      Read more about this MP:
      %br
      %a{:href => "#{vcard['twfy_url']}" } They Work For You
      %br
      %a{:href => "#{vcard['wikipedia_url']}" } Wikipedia
      - if vcard['twfy_photo'] != ''
        %p
          %img.photo{:src => vcard['twfy_photo']}