.vcard
  .vcard_name
    = "#{vcard['name']}"
  .vcard_constituency
    = "MP for #{vcard['constituency']}"
  .vcard_text
    .vcard_party
      = "#{vcard['party']}"
    
    %p
      Read more about this MP:
      %br
      %a{:href => "#{vcard['twfy_url']}" } They Work For You
      %br
      %a{:href => "#{vcard['wikipedia_url']}" } Wikipedia
  .vcard_photo
    - if vcard['twfy_photo'] != ''
      %img{:src => vcard['twfy_photo']}