%p You are an admin user on RAMP. You can add an account or an individual photo to the stop list.

%hr

%table{:width => "60%"}
  %caption Flagged Flickr Accounts
  %thead
    %tr
      %th Flags
      %th Flickr Account
  %tbody
  - @flags_by_flickr_account[0..9].each do |flagged|
    %tr
      %td= "#{flagged["flags"].to_i}"
      %td
        %a{:href => "/admin/account/#{flagged['author_id']}"} #{flagged["author_name"]}

%hr

%table{:width => "60%"}
  %caption Images flagged for an MP
  %thead
    %tr
      %th Flags
      %th MP
  %tbody
  - @flags_by_mp[0..9].each do |flagged|
    %tr
      %td= flagged["flags"].to_i
      %td
        %a{:href => "/admin/mp/#{MP.format_name_for_url(flagged['name'])}"}= flagged["name"]
        
%br
%a{:href => "admin/mp"} View list of all flagged MPs
%br
%hr

%table.detail
  %caption Flagged Images
  %thead
    %tr
      %th Flags
      %th Photo
      %th Details
      %th{:colspan => 2} Action
  %tbody
  - @flags_by_photos[0..9].each do |flagged|
    %tr
      %td= flagged["flags"].to_i
      %td
        %a{:href => "http://flickr.com/photos/#{flagged['author_id']}/#{flagged['photo_id']}"}
          %img{:alt => "#{flagged['name']}", :title => "#{flagged['name']}", :src => "http://farm#{flagged["flickr_farm"]}.static.flickr.com/#{flagged["flickr_server"]}/#{flagged["photo_id"]}_#{flagged["flickr_secret"]}_s.jpg" }
      %td 
        %a{:href => "/admin/mp/#{MP.format_name_for_url(flagged['name'])}"} "#{flagged["name"]}"
        %br
        photo credit:
        %br
        %a{:href => "/admin/account/#{flagged['author_id']}"} #{flagged["author_name"]}
      %td
        %a{:href => "admin/unflag/photo/#{flagged["photo_id"]}"} Unflag
      %td
        %a{:href => "admin/add_to_stoplist/photo/#{flagged["photo_id"]}"} Stop

%br