- if @guess == @answer
  %h2 Correct!
- else
  %h2 Sorry!
  %p
    You chose #{@chosen.name}

%p
  It was #{@mp.name}

%p
  .vcard
    .vcard_name
      = "#{@mp.name}"
    .vcard_constituency
      = "MP for #{@mp.constituency}"
    .vcard_text
      .vcard_party
        = "#{@mp.party}"
      
      %p
        Read more about this MP:
        %br
        %a{:href => "#{@mp.twfy_url}" } They Work For You
        %br
        %a{:href => "#{@mp.wikipedia_url}" } Wikipedia
    .vcard_photo
      %img{:src => @mp.twfy_photo}

%p <a href='/'>Ok, show me another</a>