- if @guess == @answer
  %h2 Correct!
- else
  %h2 Sorry!
  %p
    You chose #{@chosen.name}

%p
  It was #{@mp_json['name']}

%p
  .vcard
    .vcard_name
      = "#{@mp_json['name']}"
    .vcard_constituency
      = "MP for #{@mp_json['constituency']}"
    .vcard_text
      .vcard_party
        = "#{@mp_json['party']}"
      
      %p
        Read more about this MP:
        %br
        %a{:href => "#{@mp_json['twfy_url']}" } They Work For You
        %br
        %a{:href => "#{@mp_json['wikipedia_url']}" } Wikipedia
    .vcard_photo
      %img{:src => @mp_json['twfy_photo']}

%p <a href='/'>Ok, show me another</a>