- if @photos.size == 0
  %p There are no photos tagged <strong>#{@random_mp.json["name"]}</strong> on Flickr. You can <a href="http://www.flickr.com/photos/upload/">upload a photo</a>, or tag a public photo with that MP's name.
  =partial(:vcard, :layout => false, :collection => [@random_mp.json] )
  %p <a href='/'>Ok, show me another</a>
- else
  - @mps.each do |mp|
    %form{ :method => "post", :action => "/answer" }
      %input{ :type => 'submit', :name => 'answer', :value => "#{mp["name"]}, #{mp["party"]} MP for #{mp["constituency"]}"}
      %input{ :type => 'hidden', :name => 'guess', :value => "#{mp['number']}" }
      %input{ :type => 'hidden', :name => 'status', :value => "#{@status}" }
  %div
    %p <a href='/'>Pass, show me another</a>
    %div
      - for photo in @photos
        %figure
          .mp_image
            = '<a href="http://www.flickr.com/photos/' + photo["owner"]["nsid"].to_s + '/' + photo["id"].to_s + '"><img src="http://farm' + photo["farm"].to_s + '.static.flickr.com/' + photo["server"].to_s + '/' + photo["id"].to_s + '_' + photo["secret"].to_s + '.jpg" alt=""/></a>'
          %figcaption{:rel => "license"}
            = @random_mp.lookup_flickr_photo_license[photo["license"].to_i]
            &mdash;
            = photo["owner"]["username"]
          -if @flagged and @flagged.include?(photo["id"])
            [Flagged]
          -else
            %form{ :method => 'post', :action => '/' }
              %input{ :type => 'submit', :name => 'flag', :value => 'MP not in photo' }
              %input{ :type => 'hidden', :name => 'photo_id', :value => photo["id"]}
              %input{ :type => 'hidden', :name => 'user_id', :value => photo["owner"]["nsid"]}
              %input{ :type => 'hidden', :name => 'user_name', :value => photo["owner"]["username"]}
              %input{ :type => 'hidden', :name => 'status', :value => "#{@status}" }