- if @photos.size == 0
  #notfound
    %p There are no photos tagged <strong>#{@random_mp_json["name"]}</strong> on Flickr. You can <a href="http://www.flickr.com/photos/upload/">upload a photo</a>, or tag a public photo with that MP's name.
    =partial(:vcard, :layout => false, :collection => [@random_mp_json] )
    %p <a href='/'>Ok, show me another</a>
- else
  .buttons
    - @mps.each do |mp|
      .guess 
        %form{ :method => 'post', :action => '/answer' }
          %input{ :type => 'submit', :name => 'answer', :value => "#{mp["name"]}, #{mp["party"]} MP for #{mp["constituency"]}"}
          %input{ :type => 'hidden', :name => 'guess', :value => "#{mp['number']}" }
          %input{ :type => 'hidden', :name => 'status', :value => "#{@status}" }
  .stuff
    more about this MP at <a href='#{@random_mp_json["twfy_url"]}'>TheyWorkForYou.com</a> or <a href='#{@random_mp_json["wikipedia_url"]}'>Wikipedia</a>.
    %p <a href='/'>Pass, show me another</a>
    %div
      %center
      - for photo in @photos
        / = photo.inspect
        %figure
          = '<a href="http://www.flickr.com/photos/' + photo["owner"]["nsid"].to_s + '/' + photo["id"].to_s + '"><img src="http://farm' + photo["farm"].to_s + '.static.flickr.com/' + photo["server"].to_s + '/' + photo["id"].to_s + '_' + photo["secret"].to_s + '.jpg" alt="' + photo["title"].to_s + '"/></a>'
          %figcaption{:rel => "license"}
            = @random_mp.lookup_flickr_photo_license[photo["license"].to_i]
            &mdash;
            = photo["owner"]["username"]