%div
- for photo in @photos
  - if photo.is_a?(String)
    %p= photo
  - else
    - photo = photo[1]
    %h1
      = "Apparently this is #{@random_mp.name}, #{@random_mp.party} - #{@random_mp.constituency}"
    %p
      = '<a href="http://www.flickr.com/photos/' + photo["owner"]["nsid"].to_s + '/' + photo["id"].to_s + '"><img src="http://farm' + photo["farm"].to_s + '.static.flickr.com/' + photo["server"].to_s + '/' + photo["id"].to_s + '_' + photo["secret"].to_s + '.jpg" alt="' + photo["title"].to_s + '"/></a>'