- if @results_count == 0
  %p
    Sorry: we couldn't find a photo of #{@random_mp.name}
    %ul
      %li <a href='/'>Not enough information: try again</a>
      %li <a href='/?num=#{@number+=1}'>DEBUG: Next MP</a>
- else
  %p
    Can you recognise an MP here?
  %ul
    %li <strong>#{@random_mp.name}</strong>, #{@random_mp.party} MP for #{@random_mp.constituency}
    %li Fiona Carr, Liberal Democrat MP for Fife
    %li Adi Khan, Green MP for Basildon
    %li <a href='#{@random_mp.twfy_url}'>Link to TWFY</a>
    %li <a href='/'>Not enough information: try again</a>
    %li <a href='/?num=#{@number+=1}'>DEBUG: Next MP</a>
  - for photo in @photos
    / =photo.inspect
    %p.image
      = '<a href="http://www.flickr.com/photos/' + photo["owner"]["nsid"].to_s + '/' + photo["id"].to_s + '"><img src="http://farm' + photo["farm"].to_s + '.static.flickr.com/' + photo["server"].to_s + '/' + photo["id"].to_s + '_' + photo["secret"].to_s + '.jpg" alt="' + photo["title"].to_s + '"/></a>'