%h2= "#{@mp_name}"

%a{ :href => "/admin" }= "Return to the main admin page"
%br
%br

%table{:width => "80%"}
  %caption Flagged images for #{@mp_name}
  %thead
    %tr
      %th Flags
      %th Photo
      %th
      %th
      %th
  %tbody
  - @flagged.each do |flagged|
    %tr
      %td= flagged["flags"].to_i
      %td
        %a{:href => "http://flickr.com/photos/#{flagged['author_id']}/#{flagged['photo_id']}"}
          %img{ :src => "http://farm#{flagged["flickr_farm"]}.static.flickr.com/#{flagged["flickr_server"]}/#{flagged["photo_id"]}_#{flagged["flickr_secret"]}_s.jpg" }
      %td
        %a{:href => "/admin/clear_flags/photo/#{flagged["photo_id"]}?return=/admin/mp/#{params[:mp_name]}"} Clear
      %td
        %a{:href => "/admin/add_to_stoplist/photo/#{flagged["photo_id"]}?return=/admin/mp/#{params[:mp_name]}"} Stop
      %td
        %a{:href => "admin/add_to_stoplist/mp_photo/#{flagged['name'].downcase().gsub("-","--").gsub(" ","-")}/#{flagged["photo_id"]}?return=/admin/mp/#{params[:mp_name]}"} Stop <br /> (named MP only)
        
%br