.vcard
  .vcard_text
    .vcard_name
      = "#{@mp['name']}"
    .vcard_constituency
      = "#{@mp['constituency']}"
    .vcard_party
      = "#{@mp['party']}"
  .vcard_photo
    %img{:src => @mp['twfy_photo']}